* {
    color: white;
}

body {
    background: #481C64;
    background: linear-gradient(135deg, #481C64, #222123);
}

button {
    background-color: #454545;
    font-size: large;
    padding: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #555454;
}

.mainbtn {
    background-color: rgb(183, 0, 255);
}
.mainbtn:hover {
    background-color: rgb(221, 0, 255);
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    background-color: #4d4b4b;
    padding: 10px;
    border: none;
}
input:hover, input:focus {
    background-color: #5b5b5b;
}
  
a {
    color: rgb(140, 0, 255);
    text-decoration: none;
}
a:hover {
    color: rgb(166, 0, 255);
}
  